.buy p{
    justify-content: center;
    color: rgb(207, 192, 23);
    font-size: 1.5rem;
    font-weight: 500;
    font-style: italic;
}
.buy{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.buy1{
    margin-top: -20px;
    width: 530px;
    background-color: #6d41dd;
    top:  50%;
    border-radius: 20px 40px;
    opacity: 1;
}
.buy2{
    display: flex;
    flex-direction: column;
}
#buy3{
    margin-left: 38px;
}

input[type=text] {
    width: 450px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.input-box  {   
    width: 450px;
    height: 65px;
    box-sizing: border-box;
    /* flex: 1 1 7rem; */
    display: flex;
    flex-direction: column;
    padding: 12px 20px;
    background: #c4c0fb;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
    /* margin-left: 110px; */
}

#city{
    border-radius: 5px;
}

#city:hover{
    background:  #a3bff7;
}
